@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.main{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#141e30, #243b55) fixed;
    background-attachment: fixed;
}

.card-container{
    padding: 40px;

    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

.card {
    width: 222px;
    height: 315px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 13px 15px 0px rgba(0, 0, 0, 0.05);
    transition: ease all 0.2s;
}

.card:hover {
    transform: scale(1.1) translateY(-15px);
}

#back {
    width: 222px;
    height: 315px;
    overflow: hidden;
    position: absolute;
    border-radius: 10px;
}

#back img {
    width: 222px;
    filter: blur(30px) ;
    height: 222px;
    margin: -5px -10px -10px -5px;
    opacity: 0.9;
}

#art {
    position: relative;
    border-radius: 100%;
    width: 176px;
    height: 176px;
    margin: 23px;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.05);
    transition: ease all 0.2s;
}

#title, #artist {
    margin: 0px 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#title {
    margin-top: 31px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 20px;
    color: #393939;
}

#artist {
    font-family: 'Segoe UI';
    font-size: 14px;
    color: #707070;
}

/*----------------------------------------- card extendida ----------------------------*/

#full-div{
    box-sizing: border-box;
    width: 60%;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#music-player-div{
    width: 100%;
    height: 30rem;
    background-color: #fff;
    overflow: hidden;
    background-color: rgba(255,223,238,.4);
    border-radius: 1rem;
    padding: 1.5rem;
    box-sizing: border-box;
    display: flex;
    /* flex-direction: column;*/
}
#music-div{
    box-sizing: border-box;
    width: 65%;
    text-align: center;
}
#listMusic-div{
    width: 35%;
    overflow-y: auto;
    border-left: 1px solid rgba(0,0,0,.2);
    text-align: left;
    padding-left: 24px;
    box-sizing: border-box;
    margin-left: 24px;
}

#music-logo{
    width: 300px;
    margin-bottom: 24px;
    border-radius: 16px;
}
.music-cards{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(0,0,0,.2);
}
.card-image{
    box-sizing: border-box;
    min-width: 80px;
    height: 80px;
    border-radius: 8px;
    margin-right: 16px;
}
.card-desc{
    color: rgba(0,0,0,.6);
    transition: all 0.3s;
}
.card-desc:hover{
    color: rgba(0,0,0,1);

}
.card-heading{
    font-size: 20px;
}
.card-author{
    font-size: 17px;
}
::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background: #888;
    transition: all 0.3s;
}
::-webkit-scrollbar-thumb:hover{
    background: black;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
#controls-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}
#controls-div i{
    font-size: 20px;
    color: #15124b;
    opacity: 0.6;
    cursor: pointer;
    display: inline-block;
    margin-right: 20px;
}
#controls-div i:hover{
    opacity: 1;
}
#controls-div i:nth-child(3){
    font-size: 46px;
}
#controls-div i:last-child{
    margin: 0;
}
#song{
    font-weight: 600;
    font-size: 28px;
    letter-spacing: .5px;
    margin-bottom: 8px;
}
#artista{
    font-weight: 500;
    font-size: 20px;
    margin-top: 0;
}
#progress-bar{
    max-width: 100%;
    height: 5px;
    background-color: #15124b;
    opacity: .7;
    cursor: pointer;
    border-radius: 6px;
}
#progress-report{
    width: 1%;
    max-width: 100%;
    height: 5px;
    background-color: #0096ff;
    opacity: .5;
    cursor: pointer;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.shuffle-active{
    font-size: 24px;
}

/*------------------------------------ POP UP ------------------------------------*/
.pop-up {
    position: fixed;
    top: 50%;
    left: 50%;

    margin-top: 4.68rem;
    margin-left: 150px;

    -webkit-transform: translate(-50%, -50%) scale(0.9);
    -moz-transform: translate(-50%, -50%) scale(0.9);
    -ms-transform: translate(-50%, -50%) scale(0.9);
    -o-transform: translate(-50%, -50%) scale(0.9);
    transform: translate(-50%, -50%) scale(0.9);
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 90;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.pop-up .close {
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 2.5rem;
    letter-spacing: 0.05rem;
    color: #3e4146;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.pop-up #full-div #music-player-div .close:hover {
    cursor: pointer;
    color: #f66867;
}

.pop-up.open {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}

.pop-up.open img {
    opacity: 1;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}