<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/nav-layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/allMusic.css}">
</head>
<body>

    <div layout:fragment="content">
        <div class="main">
            <div class="card-container" th:each="music: ${allMusic}">

                <div class="card" id="card">
                    <div id="back">
                        <img  th:attr="src=${music.getImagen()}">
                    </div>
                    <img th:attr="src=${music.getImagen()}" id="art">
                    <div id="title" th:text="${music.getNombre()}"></div>
                    <div id="artist" th:text="${music.getAutor()}"></div>
                </div>

            </div>
        </div>
    </div>

</body>
</html>