<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>

<div class="sidebar">
    <div class="logo">
        <a href="#">
            <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png" alt="Logo" />
        </a>
    </div>

    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="fa fa-home"></span>
                    <span>Home</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="fa fa-search"></span>
                    <span>Search</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="fa fas fa-book"></span>
                    <span>Your Library</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="fa fas fa-plus-square"></span>
                    <span>Create Playlist</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="fa fas fa-heart"></span>
                    <span>Liked Songs</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="policies">

    </div>
</div>

<div class="main-container">
    <div class="topbar">
        <div class="navbar">
            <ul>
                <li>
                    <a href="#">Añadir Música</a>
                </li>
                <li>
                    <a href="#">Mi Música</a>
                </li>
                <li>
                    <a href="#">About Us</a>
                </li>
                <li class="divider">|</li>
            </ul>
            <button type="button">Get Started</button>
        </div>
    </div>

    <div class="spotify-playlists">
        <h2>Spotify Playlists</h2>

        <div class="list">
        </div>

    </div>
</div>

<script
        src="https://kit.fontawesome.com/23cecef777.js"
        crossorigin="anonymous"
></script>
</body>
</html>