<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/nav-layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{css/index.css}">
</head>
<body>

    <div layout:fragment="content">
        <div class="middle-header">
            <div class="main">
                <h1 class="aqua"><i class="fas fa-headphones-alt"></i></h1>
                <p>“When words fail music speaks.” ― Irena Huang.</p>
                <a href="#categorias" class="button">Dive Into Music<i class="far fa-arrow-alt-circle-down"></i></a>
            </div>
        </div>

        <div id="categorias" class="categorias">
            hula
        </div>

        <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
        <script th:src="@{js/index.js}"></script>
    </div>

</body>
</html>